.calendarWrapper {
    min-height: 100vh;
    padding: 6rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.monthLink {
    text-decoration: none;
}